<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hw1_toan_b1704780">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HW1_Toan_B1704780">
        <activity android:name=".BarChart9"></activity>
        <activity android:name=".BarChart8" />
        <activity android:name=".BarChart7" />
        <activity android:name=".BarChart6" />
        <activity android:name=".BarChart5" />
        <activity android:name=".BarChart4" />
        <activity android:name=".BarChart3" />
        <activity android:name=".BarChart2" />
        <activity android:name=".pieChart8" />
        <activity android:name=".pieChart7" />
        <activity android:name=".pieChart6" />
        <activity android:name=".pieChart5" />
        <activity android:name=".pieChart3" />
        <activity android:name=".pieChart9" />
        <activity android:name=".pieChart4" />
        <activity android:name=".pieChart2" />
        <activity android:name=".PieChartsActivity" />
        <activity android:name=".BarChartsActivity" />
        <activity android:name=".LinesPlotActivity" />
        <activity android:name=".NhaplieuLinesPlot" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>